### Les series en pandas

Avant de parler de pandas je vais vous parler des tableaux sur numpy

In [5]:
#import des modules
import numpy as np
import pandas as pd

In [2]:
# pour lire un csv
pd.read_csv('./data/fr_population.csv')

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,Venezuela (République bolivarienne du),511,Population totale,2501,Population,2013,2013,1000 personnes,30405,NaN,Donnée officielle
171,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,237,Viet Nam,511,Population totale,2501,Population,2013,2013,1000 personnes,91680,NaN,Donnée officielle
172,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,Yémen,511,Population totale,2501,Population,2013,2013,1000 personnes,24407,NaN,Donnée officielle
173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle
174,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,511,Population totale,2501,Population,2013,2013,1000 personnes,14150,NaN,Donnée officielle

***Question 1***

In [12]:
#on peut lire differents format
df = pd.read_csv('./data/fr_population.csv')

In [17]:
#avec la sum
sum(df['Valeur']*1000)

8413993000

***Question 2***

In [52]:
#on peut lire differents format
df2 = pd.read_csv('./data/fr_vegetaux.csv')

In [53]:
df2

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
0,Afghanistan,2,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN
1,Afghanistan,2,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,NaN,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,NaN,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,NaN,3000000.0,3000000.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11966,Îles Salomon,25,Sésame,NaN,NaN,0.0,0.01,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11967,Îles Salomon,25,Thé,NaN,NaN,0.0,0.17,NaN,0.04,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11968,Îles Salomon,25,Tomates,NaN,NaN,0.0,0.07,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11969,Îles Salomon,25,Vin,NaN,NaN,0.0,0.07,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11970,Îles Salomon,25,"Épices, Autres",NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN

In [55]:
df2['new'] = df2.groupby(['Code zone'])['Production (kg/an)'].sum()

In [42]:
df2

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),new
0,Afghanistan,2,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN,NaN
1,Afghanistan,2,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,NaN,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN,3.009000e+09
2,Afghanistan,2,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,8.891000e+09
3,Afghanistan,2,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,NaN,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN,2.609000e+09
4,Afghanistan,2,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,NaN,3000000.0,3000000.0,NaN,NaN,NaN,NaN,NaN,2.196400e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11966,Îles Salomon,25,Sésame,NaN,NaN,0.0,0.01,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11967,Îles Salomon,25,Thé,NaN,NaN,0.0,0.17,NaN,0.04,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11968,Îles Salomon,25,Tomates,NaN,NaN,0.0,0.07,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11969,Îles Salomon,25,Vin,NaN,NaN,0.0,0.07,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11970,Îles Salomon,25,"Épices, Autres",NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN

***Question 3***

In [49]:
# Disponibilité alimentaire donnée pour chaque produit en kcal/personne/jour.
df2['new'] = df2.groupby(['Produit'])['Disponibilité alimentaire (Kcal/personne/jour)'].sum()

In [47]:
df2

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),new
0,Afghanistan,2,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN,NaN
1,Afghanistan,2,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,NaN,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,NaN,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,NaN,3000000.0,3000000.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11966,Îles Salomon,25,Sésame,NaN,NaN,0.0,0.01,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11967,Îles Salomon,25,Thé,NaN,NaN,0.0,0.17,NaN,0.04,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11968,Îles Salomon,25,Tomates,NaN,NaN,0.0,0.07,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11969,Îles Salomon,25,Vin,NaN,NaN,0.0,0.07,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11970,Îles Salomon,25,"Épices, Autres",NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN

In [50]:
# Disponibilité alimentaire donnée pour chaque pays en kcal/personne/jour.
df2['new'] = df2.groupby(['Code zone'])['Disponibilité alimentaire (Kcal/personne/jour)'].sum()

In [51]:
df2

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),new
0,Afghanistan,2,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN,NaN
1,Afghanistan,2,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,NaN,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN,2140.0
2,Afghanistan,2,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1871.0
3,Afghanistan,2,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,NaN,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN,2203.0
4,Afghanistan,2,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,NaN,3000000.0,3000000.0,NaN,NaN,NaN,NaN,NaN,2915.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11966,Îles Salomon,25,Sésame,NaN,NaN,0.0,0.01,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11967,Îles Salomon,25,Thé,NaN,NaN,0.0,0.17,NaN,0.04,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11968,Îles Salomon,25,Tomates,NaN,NaN,0.0,0.07,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11969,Îles Salomon,25,Vin,NaN,NaN,0.0,0.07,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11970,Îles Salomon,25,"Épices, Autres",NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN

In [57]:
df1 = pd.read_csv('./data/fr_population.csv')

In [58]:
# Population de chaque pays
df1['new'] = df1.groupby(['Code zone'])['Valeur'].sum()

In [61]:
df1[['Code zone', 'Valeur']]

     Code zone  Valeur
0            2   30552
1          202   52776
2            3    3173
3            4   39208
4           79   82727
..         ...     ...
170        236   30405
171        237   91680
172        249   24407
173        251   14539
174        181   14150

[175 rows x 2 columns]

In [65]:
# Disponibilité alimentaire en protéines donnée pour chaque produit en g/personne/jour.
df2['new'] = df2.groupby(['Produit'])['Disponibilité de protéines en quantité (g/personne/jour)'].sum()

In [66]:
df2[['Disponibilité de protéines en quantité (g/personne/jour)']]

       Disponibilité de protéines en quantité (g/personne/jour)
0                                                   0.02
1                                                   0.03
2                                                    NaN
3                                                   0.05
4                                                   0.00
...                                                  ...
11966                                                NaN
11967                                               0.04
11968                                                NaN
11969                                                NaN
11970                                               0.15

[11971 rows x 1 columns]

In [62]:
# Disponibilité alimentaire en protéines donnée pour chaque pays en g/personne/jour.
df2['new'] = df2.groupby(['Code zone'])['Disponibilité de protéines en quantité (g/personne/jour)'].sum()

In [64]:
df2[['Disponibilité de protéines en quantité (g/personne/jour)']]

       Disponibilité de protéines en quantité (g/personne/jour)
0                                                   0.02
1                                                   0.03
2                                                    NaN
3                                                   0.05
4                                                   0.00
...                                                  ...
11966                                                NaN
11967                                               0.04
11968                                                NaN
11969                                                NaN
11970                                               0.15

[11971 rows x 1 columns]

***Question 4***

In [67]:
#on peut lire differents format
df2 = pd.read_csv('./data/fr_vegetaux.csv')

In [68]:
df2

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
0,Afghanistan,2,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN
1,Afghanistan,2,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,NaN,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,NaN,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,NaN,3000000.0,3000000.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11966,Îles Salomon,25,Sésame,NaN,NaN,0.0,0.01,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11967,Îles Salomon,25,Thé,NaN,NaN,0.0,0.17,NaN,0.04,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11968,Îles Salomon,25,Tomates,NaN,NaN,0.0,0.07,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11969,Îles Salomon,25,Vin,NaN,NaN,0.0,0.07,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11970,Îles Salomon,25,"Épices, Autres",NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN

In [72]:
# Disponibilité alimentaire en protéines donnée pour chaque produit en g/personne/jour.
df2['new'] = df2.groupby(['Produit'])['Disponibilité de protéines en quantité (g/personne/jour)'].sum()

In [74]:
df2['Disponibilité de protéines en quantité (g/personne/jour)']/df2['Disponibilité alimentaire en quantité (kg/personne/an)']

0        0.015504
1        0.500000
2             NaN
3        0.018519
4        0.000000
           ...
11966         NaN
11967    0.235294
11968         NaN
11969         NaN
11970    0.312500
Length: 11971, dtype: float64

***Question 5***

In [39]:
# creer une nouvelle colonne
df['new']= df['W']+ df['Y']

In [40]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [41]:
# supprimer une colonne
#df.drop('new')
# donne une erreur

In [42]:
df.drop('new',axis = 1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [43]:
#j'ai tjs la colonne
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [47]:
df.drop('new',axis = 1, inplace=True)

KeyError: "['new'] not found in axis"

In [45]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [48]:
#supprimer une ligne
df.drop('E',axis = 0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [49]:
# pour connaitre la structure du tableau
df.shape

(5, 4)

On a un tableau de 5 lignes et 4 colonnes

In [ ]:
# colonnes
df[['W','Z']]

In [ ]:
# recuperer des lignes
df.loc['A']

In [ ]:
# je peux egalemet recupérer des lignes en utilisant le numero d'index
df.iloc[0]

In [ ]:
# si je veux selectionner un nombre spécifique
df.loc['B','Y']

le premier argument est la ligne B le deuxième la colonne Y

In [ ]:
df

In [2]:
#pour avoir un sous ensemble je passe une liste de ligne et de colonnes
df.loc[['A','B'],['W','Y']]

NameError: name 'df' is not defined

recap

## conditionnal selection

In [ ]:
#si je ne veux que des valeurs positives
df>0

In [ ]:
# les selectionner dans le tableau
df[df>0]

Il va me renvoyer NaN pour les valeurs qui sont en dessous.

In [ ]:
# si je veux filtrer uniquement les données qui m'interessent
df['W']>0

In [ ]:
# je met ce "masque" dans le dataframe
df[df['W']>0]

je ne vais avoir que les lignes où les valeurs sont positives sont positive pour la colonne W

In [ ]:
#si parmi ces données je ne veux que la colonne Y
df[df['W']>0]['Y']

In [ ]:
df[df['W']>0][['Y','X']]

**decomposons pour mieux comprendre**

In [ ]:
boolser = df['W']>0
boolser

In [ ]:
result = df[boolser]
result

In [ ]:
mycols= ['Y','X']
result[mycols]

Cela peut être utile de decomposer quand on a pas l'habitude.

## plusieurs conditions

Si on veut utiliser deux conditions on utilise ce symbole **&** et non and.

Pour le or on utilise | (alt maj l pour mac)

In [ ]:
df[(df['W']>0) & (df['X'] > 1)]

In [ ]:
df[(df['W']>0)|(df['X'] > 1)]

### Les index

In [ ]:
df

In [ ]:
# si on veut changer l'index en numerique
df.reset_index()

Si je veux complètement changer l'index.

In [ ]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
newind

In [ ]:
# je rajoute une nouvelle colonne
df['States'] = newind

In [ ]:
df

In [ ]:
# je le met comme un nouvel index avec set_index
df.set_index('States')

In [ ]:
df

## Les données manquantes

In [ ]:
# je crée un dataframe pour l'exemple avec des données manquantes

df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

***on peut les supprimer (si par exemple on en a pas beaucoup)***

In [ ]:


df.dropna()

pour enlever les colonnes lignes avec des nan

In [ ]:
# pour supprimer les colonnes avec nan values
df.dropna(axis= 1)

In [ ]:
#shift + tab pour regarder la doc
# si je veux garder les lignes qui ont moins de deux valeurs nulle
df.dropna(thresh=2)

***on peut les remplacer***

In [ ]:
df.fillna(value='FILL VALUE')

In [ ]:
# on peut les remplacer par la moyenne pour la colonne A par exemple
df['A'].fillna(value=df['A'].mean())

### Groupby

LE GROUPBY permet de grouper des lignes de donnes ensemble avec une fonction agregate comme la somme, me moyenne, la mediane, le compte  ect...

In [ ]:
# Create dataframe à partir d'un dictionnaire
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
# si on groupby company
df.groupby('Company')

In [ ]:
# on va les grouper par moyenne
df.groupby('Company').mean()

In [ ]:
#avec la sum
df.groupby('Company').sum()

In [ ]:
# je veux selectionner juste une
df.groupby('Company').sum().loc['FB']

In [ ]:
# par variance
df.groupby('Company').std()

In [ ]:
# min
df.groupby('Company').min()

In [ ]:
df.groupby('Company').count()

In [ ]:
# fonction qu'on utilise trèes souvent c'est describe
df.groupby('Company').describe()

In [ ]:
# si on veut transposer
df.groupby('Company').describe().transpose()

In [ ]:
df.groupby('Company').describe().transpose()['FB']

## Merge, Join, Concat

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
# concatener : mettre les un sur les autres
pd.concat([df1,df2,df3])

In [ ]:
# si on veut concatener les lignes
pd.concat([df1,df2,df3],axis=1)

In [ ]:
# autres dataframe
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

## Merge

ça nous permet de joindre deux dataframe en utilisant la même logique que SQL.
Rappel des differente manières de joindre deux tableaux

![Capture%20d%E2%80%99e%CC%81cran%202023-06-09%20a%CC%80%2012.21.43.png](attachment:Capture%20d%E2%80%99e%CC%81cran%202023-06-09%20a%CC%80%2012.21.43.png)

In [ ]:
pd.merge(left,right,how='inner',on='key')

## Join
Le join est quasiment identique au merge sauf que la clé avec laquelle on va les joindre c'est l'index et non pas une colonne

In [ ]:
# deux dataframe avec un index
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

## les operations

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
# Pour voir les 5 premières lignes très très utile
df.head()

### pour voir les valeurs uniques

In [ ]:
df['col2'].unique()

In [ ]:
# si je veux juste les nombre de valeur unique
df['col2'].nunique()

In [ ]:
# value counts pour savoir combien de fois j'ai chaque valeur
df['col2'].value_counts()

### selectionner des données

In [ ]:
df[(df['col1']>2) & (df['col2']==444)]

## appliquer sa propre fonction à un tableau

In [ ]:
def times2(x):
    return x*2

In [ ]:
#on l'applique à la colonne 1 avec la méthode apply
df['col1'].apply(times2)

In [ ]:
# on peut egalement appliquer des fonctions natives
#longeur de chaque chaine
#attention ne fonctionne pas avec des nombres
df['col3'].apply(len)

In [ ]:
# avec une fonction lambda (très pratique)
df['col1'].apply(lambda x :x*2)

### supprimer une colonne

In [ ]:
df

In [ ]:
df.drop('col1',axis = 1)

In [ ]:
#recuperer le nom des colonnes
df.columns

In [ ]:
#recuperer le nom des index
df.index

In [ ]:
#ranger les colonnes par valeur
df.sort_values('col2')

### Trouver les valeurs nulles ou vérifier les valeurs nulles

In [ ]:
df.isnull()

In [ ]:
# supprimer le valeurs nulles
df.dropna()

In [ ]:
# remplacer les nan par autre chose
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df.fillna('FILL')

### Pivot Table

In [ ]:
df = pd.DataFrame({
    "nom": ["Bastien", "Bastien", "Bastien", "Salma", "Salma", "Salma", "Alain", "Alain", "Alain"],
    "cours": ["A", "B", "C", "A", "B", "C", "A", "B", "C"],
    "note": [66, 75, 80, 70, 77, 81, 80, 85, 90],
    "genre": ["H", "H", "H", "F", "F", "F", "H", "H", "H"],
})

In [ ]:
df

Comme vous pouvez le constater, afin de représenter les données sous forme tabulaire, le nom de la même personne et le cours apparaissent de manière répétée dans de nombreuses lignes.

On peut réorganiser les tableau de manière à résumer l'information

In [ ]:
#on veut les noms des eleèves avec le cours et leur note
df.pivot_table(index="nom", columns="cours", values="note")

Si nous voulons compter le nombre de cours et la moyenne des notes pour chaque étudiant, nous pouvons utiliser le code ci-dessous :

In [ ]:
#pwd

### Les inputs et outputs

In [ ]:
# pour lire un csv
pd.read_csv('example.csv')

In [ ]:
#on peut lire differents format
df = pd.read_csv('example.csv')

In [ ]:
df

In [ ]:
# pour  exporter le tableau
df.to_csv('export')

In [ ]:
pd.read_csv('export')

In [ ]:
# pour enlever l'index en trop
df.to_csv('export',index = False )

In [ ]:
pd.read_csv('export')

In [ ]:
df = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [ ]:
df

In [ ]:
df.to_excel('Excel_Sample.xlsx',sheet_name='new_sheet')