## Notebook

Un notebook permet d'associer du code , le resultat du code, des graphiques, du texte. Il est compos√© de cellules.

## Differents types de cellules

* code

Nous avons une cellule de code par d√©faut. Pour changer il faut aller sur la barre d'outil en haut

* texte (markdown)

Une cellule peut √™tre interpr√©t√©e comme du texte, selon un langage sp√©cifique, le markdown. Il s'agit de texte enrichi de quelques r√®gles suppl√©mentaires qui permettet une mise en page sommaire (mais efficace) du texte. Nous allons en voir quelques exemples

## Quelques commandes de base :
ex√©cuter une cellule : bouton run (ou raccourci shift+enter)
cr√©er une nouvelle cellule : bouton + (ou raccourci alt+entrer)
changer le type de la cellule : : menu d√©roulant

Pour √©crire du texte on utilise le  markdown pour √©crire du texte
Soit on clique sur markdown en haut √† droite
O√π on fait echap M


# Les titres en Markdown
Pour √©crire des titres il faut faire un di√®se ou deux ou trois
# Titre1
## Titre2
### Titre3

## italique, gras :
On utilise le caract√®re * pour mettre du texte en :

italique : *texte* --> texte
gras : **texte** --> texte

## exporter des fichiers
pour exporter les fichiers allez dans file et download as

## Les bases de Python

In [1]:
# on met des di√®ses pour les commentaires de code
# votre premi√®re phrase en python
# le print permet d'afficher
print("Hello world!")

Hello world!

## Calculer avec Python

On peut faire toute sorte de calcul sur Python
* sommes
* multiplications
* soustractions
* divisions
* Exponentielle avec **
* le modulo qui est le reste de la division %

Je vous invite √† tester en dessous

In [ ]:
# calculs

Pour clarifier l'ordre des calculs on peut utiliser les parenth√®ses.

In [ ]:
2 + 3 * 5 + 5

In [ ]:
(2 + 3) * (5 + 5)

In [ ]:
# modulo
print(7/2)
print(7%2)

## Les Variables

Python est une excellente calculatrice üòÄ mais si on veut faire des calculs plus complexes on va d√©finir des variables . Une variable d√©crit un endroit o√π ranger des informations comme des nombres , du texte .
Pour assigner une variable il suffit de mettre le signe =.

In [2]:
# calculons un IMC
taille = 1.79
poids = 70

In [7]:
poids

70

In [8]:
# autocompl√©tion
%config IPCompleter.greedy=True

In [9]:
#IMC = poids/(taille)¬≤
IMC = poids / (taille**2)

In [10]:
# afficher l'IMC

print(IMC)

21.847008520333322

Attention ne pas utiliser de caract√®res sp√©ciaux ou commencer les variables avec des chiffres. On utilise souvent des underscore pour nommer des variables en python.

In [11]:
123var = 2

SyntaxError: invalid syntax (<ipython-input-11-d95960a8adcb>, line 1)

In [13]:
nom_de_var = 12

### Types des variables:

**les variables num√©riques**

IMC est une variable num√©rique

In [14]:
type(IMC)

float

In [15]:
a = 1
type(a)

int

 **les chaines de caract√®res**

Les chaines de caract√®res sont du texte. Pour cr√©er une chaine de caract√®re en python il faut placer des guillemets devant et derri√®re. Des guillemets simples ou des guillemets doubles. On les affiche en mettant un print suivit de parenth√®ses.

In [16]:
print('guillemets simples')

guillemets simples

In [17]:
print("guillemets doubles")

guillemets doubles

In [18]:
# d√©coupe du texte en plusieurs variables
phrase1 = 'coder en Python.'
phrase2 = '"Oui", r√©pondit-il,'
phrase3 = "j'aime bien"
print(phrase2, phrase3, phrase1)

"Oui", r√©pondit-il, j'aime bien coder en Python.

In [ ]:
type(phrase3)

###  warning faites bien attention aux guillemets!!!

In [ ]:
# si je r√©√©cris la phrase 3 avec guillemets simples
phrase4 = 'j'aime bien'

**Inserer des valeurs dans une chaine**


Pour afficher un message avec le contenu d'une variable, on ins√®e une valeur de chaine dans la chaine de message avec %s .On utilise le % dans le print pour dire √† Python o√π chercher la valeur

In [19]:
monscore = 1000
message = "tu as obtenu %s points"
print(message % monscore)

tu as obtenu 1000 points

### le formatage
On peut pr√©parer une cha√Æne ¬´ patron ¬ª contenant
l‚Äôessentiel du texte invariable, avec des balises particuli√®res aux endroits (les champs) o√π l'on souhaite
qu‚Äôapparaissent des contenus variables. On applique ensuite √† cette cha√Æne la m√©thode format().

In [20]:
coul ="verte"
temp =1.347 + 15.9
ch ="La couleur est {} et la temp√©rature vaut {} ¬∞C"
print(ch.format(coul, temp))

La couleur est verte et la temp√©rature vaut 17.247 ¬∞C

In [24]:
# imprime cette phrase
nb1 = 0
nb2 = 8
nombres = "que dit un {} √† un {} ? Jolie ceinture !"
print(nombres.format(nb1, nb2))

que dit un 0 √† un 8 ? Jolie ceinture !

In [ ]:
#print(nombres.format(nb1,nb2))

**Acc√®s au caract√®res individuel d'une chaine de caract√®re**

Attention en python on commence toujours par le Zero (et non par un).

In [25]:
# exemple
ch = "Christine"
print(ch[0], ch[3], ch[5])

C i t

On peut √©galement faire du slicing

In [26]:
s = 'abcdef'

In [27]:
s[:3]

'abc'

In [28]:
s[0:3]

'abc'

La principale difficult√© que vous allez rencontrer est lors de l'association de diff√©rents types, par exemple dans une op√©ration math√©matique. Dans ce cas il faut parfois √™tre vigilant.

<font color =green > Exemples .</font>

In [29]:
a=1
b = 3
print(a+b)
print (a/b)
print(a//b)

4
0.3333333333333333
0

In [30]:
a='1'
b='3';
print(a+b)

13

## Les structures de donn√©es : Les listes , Dictionnaires

* **Les listes - elles s‚Äô√©crivent entre [ ]**

En Python, on peut d√©finir une liste comme une collection d‚Äô√©l√©ments s√©par√©s par des virgules, l‚Äôensemble √©tant enferm√© dans des crochets

In [31]:
# exemple
jour = ['lundi', 'mardi', 'mercredi', 1800, 20.357, 'jeudi', 'vendredi']
print(jour)

['lundi', 'mardi', 'mercredi', 1800, 20.357, 'jeudi', 'vendredi']

In [32]:
# ajouter des choses √† ma liste avec append
jour.append('samedi')

In [33]:
jour

['lundi', 'mardi', 'mercredi', 1800, 20.357, 'jeudi', 'vendredi', 'samedi']

In [34]:
#slicing
jour[1:3]

['mardi', 'mercredi']

In [35]:
# on peut egalement avoir une liste vide

vide = []
print(vide)

[]

In [37]:
# On peut m√™me avoir des listes de listes !
maliste = [[1,2,3,4], ['lundi', 'mardi', 'mercredi', 1800, 20.357, 'jeudi', 'vendredi']]

.on peut acceder √† la liste avec le num√©ro d'index. Attention on commence toujours par zero.

In [38]:
print("La longueur de ma liste est de", len(maliste))
print("Le premier √©l√©ment de ma liste est :", maliste[0])
print("Le dernier √©l√©ment de ma liste est :", maliste[1])
print("Le dernier √©l√©ment de ma liste est :", maliste[-1])

La longueur de ma liste est de 2
Le premier √©l√©ment de ma liste est : [1, 2, 3, 4]
Le dernier √©l√©ment de ma liste est : ['lundi', 'mardi', 'mercredi', 1800, 20.357, 'jeudi', 'vendredi']
Le dernier √©l√©ment de ma liste est : ['lundi', 'mardi', 'mercredi', 1800, 20.357, 'jeudi', 'vendredi']

In [39]:
# nested list

* **Les dictionnaires - ils s‚Äô√©crivent entre accolades {}**

Un dictionnaire associe √† une cl√© un autre √©l√©ment, appel√© une valeur : un chiffre, un nom, une liste, un autre dictionnaire etc. Le format d‚Äôun dictionnaire est le suivant: {Cl√© : valeur}. Il s‚Äôagit d‚Äôun objet tr√®s pratique pour la recherche, beaucoup plus que les listes qui ne permettent pas de stocker de l‚Äôinformation diverse de mani√®re hi√©rarchis√©e.

In [40]:
# exemple
mon_dictionnaire_notes = { 'Mickael' : 18 , 'Jackson' : 15}
# un dictionnaire qui √† chaque nom associe un nombre
# √† Nicolas, on associe 18

print(mon_dictionnaire_notes)

{'Mickael': 18, 'Jackson': 15}

**Pour corser un peu les choses**


Dictionnaire avec des valeurs qui sont des listes
Pour chaque cl√© d‚Äôun dictionnaire, il ne faut pas forc√©ment garder la m√™me forme de valeur

Dans l‚Äôexemple, la valeur de la cl√© ‚ÄúNicolas‚Äù est une liste, alors que celle de ‚ÄúPhilou‚Äù est une liste de liste.

In [41]:
mon_dictionnaire_loisirs =  \
{ 'Nicolas' : ['Rugby','Chocolat','Belote'] ,
  'Pimprenelle' : ['Lecture','Tisane','Tara Jarmon','Barcelone','Mickey Mouse'],
  'Philou' : [['Maths','Jeux'],['Guillaume','Jeanne','Thimoth√©e','Adrien']]}

Pour acc√©der √† un √©l√©ment du dictionnaire, on fait appel √† la cl√© et non plus la position, comme c‚Äô√©tait le cas dans les listes. C‚Äôest beaucoup plus pratique pour rechercher de l‚Äôinformation:

In [42]:
print(mon_dictionnaire_loisirs['Nicolas']) # on affiche une liste

['Rugby', 'Chocolat', 'Belote']

In [ ]:
print(mon_dictionnaire_loisirs['Philou']) # on affiche une liste de listes

Si on ne veut avoir que la premi√®re liste des loisirs de Philou, on demande le premier √©l√©ment de la liste

In [ ]:
print(mon_dictionnaire_loisirs['Philou'][0]) # on affiche alors juste la premi√®re liste

 ## Petit Quizz
 1. Quelle est la position de 7 dans la liste suivante

In [43]:
liste_nombres = [1,2,7,5,3]

2. Combien de cl√©s a ce dictionnaire ?

In [ ]:
dictionnaire_nourriture = {"Fruit" : "bananes", "Legumes" : ["Brocolis","Haricots"] ,
                          "Proteines" : "Poisson" , "Friandises" : "Chocolat"}

3. Que faut-il √©crire pour obtenir ‚ÄúBrocolis‚Äù en r√©sultat √† partir du dictionnaire_evangile

In [ ]:
dictionnaire_nourriture["Legumes"][0]

## Les Tuples

Une autre structure de donn√©es que l'on peut voir en data c'est le Tuple
C'est une structure qui ressemble au listes mais que l'on ne peut pas modifier quand ils sont cr√©es. On dit qu'elles sont immutables.

In [44]:
# exemple
t = (1,2,3)
my_list= [1,2,3]

In [45]:
t[0]

1

In [46]:
my_list[0]

1

In [47]:
my_list[0]='new'

In [48]:
my_list

['new', 2, 3]

In [49]:
t[0]='new'

TypeError: 'tuple' object does not support item assignment

Cette caract√©ristique garantit que les que les donn√©es stock√©es dans un tuple restent constantes, ce qui peut √™tre utile dans certaines situations o√π la coh√©rence des donn√©es est cruciale.


 En raison de leur immuabilit√©, les tuples peuvent prot√©ger les donn√©es contre les modifications accidentelles ou ind√©sirables. Par exemple, si vous passez un tuple en argument √† une fonction, vous pouvez √™tre s√ªr que la fonction ne modifiera pas les √©l√©ments du tuple, contrairement √† une liste qui pourrait √™tre modifi√©e.

## Les Sets
Une autre structure de donn√©es sont les sets . Les sets est une collection d'√©lements uniques

In [50]:
# exemple
{1,2,3}

{1, 2, 3}

In [53]:
{1,1,1,2,2,2,3,3,3,1,4,4,1}

{1, 2, 3, 4}

In [54]:
s= {1,2,3}

In [55]:
s.add(4)

In [56]:
s

{1, 2, 3, 4}

## Passer des listes, dictionnaires √† Pandas

Passer des listes, dictionnaires √† pandas
Supposons que la variable ‚Äòdata‚Äô est une liste qui contient nos donn√©es.

Une observation correspond √† un dictionnaire qui contient le nom, le type, l‚Äôambiance et la note d‚Äôun restaurant.

Il est ais√© de transformer cette liste en dataframe gr√¢ce √† la fonction ‚ÄòDataFrame‚Äô.

In [58]:
import pandas

data = [{"nom": "Little Pub", "type" : "Bar", "ambiance": 9, "note": 7},
     {"nom": "Le Corse", "type" : "Sandwicherie", "ambiance": 2, "note": 8},
     {"nom": "Caf√© Caumartin", "type" : "Bar", "ambiance": 1}]

df = pandas.DataFrame(data)

print(data)
df

[{'nom': 'Little Pub', 'type': 'Bar', 'ambiance': 9, 'note': 7}, {'nom': 'Le Corse', 'type': 'Sandwicherie', 'ambiance': 2, 'note': 8}, {'nom': 'Caf√© Caumartin', 'type': 'Bar', 'ambiance': 1}]

              nom          type  ambiance  note
0      Little Pub           Bar         9   7.0
1        Le Corse  Sandwicherie         2   8.0
2  Caf√© Caumartin           Bar         1   NaN

## Les Bool√©ens

In [59]:
1>2

False

In [60]:
1<2

True

In [61]:
# deux egals pour l'√©galit√©
1== 2

False

In [62]:
1== 1

True

In [63]:
1 != 2

True

In [64]:
# combinaisons
(1<2 )and (2<3)

True

In [65]:

(1<2 )or (2<3) or (1==1)

True

### Tests, Boucles, Fonctions

En python, les structures (boucles, if, fonctions, etc...) sont indiqu√©es avec l'indentation. Il est donc primordial de respecter l'indentation lors de l'√©criture d'un programme !! La syntaxe est en g√©n√©ral :


for var in liste:

    (action)

if (condition):

    (action)

L'indentation et les deux points sont absolument n√©cessaire √† l'√©xecution du code !!

### Exemple:

In [66]:
for i in [0,1,2,3,4,5]:
    print(i)

0
1
2
3
4
5

In [67]:
for i in [0,1,2,3,4,5,6,7,8]:
    if i<4:          # premi√®re indentation
        print(i)     # deux indentations : on est dans le cas (if), lui-m√™me dans la boucle
    print('done')    # plus qu'une indentation : on est sorti du cas, mais pas de la boucle

0
done
1
done
2
done
3
done
done
done
done
done
done

Pour imbriquer des structures les unes dans les autres, il suffit d'ajouter un cran √† l'indentation.

Attention √† bien respecter l'indentation lors de la sortie d'une structure.

### Test avec contrepartie : if et else

Comme dans les autres langages, on teste une condition. Si elle est v√©rifi√©e, alors une instruction suit et sinon, une autre instruction est ex√©cut√©e.

**Exemple**

In [68]:
x = 6

if x > 5 :
    print("x est plus grand que 5")
else : # la contrepartie si la condition if n'est pas r√©alis√©e
    print("x est plus petit que 5")

x est plus grand que 5

### **Tests successifs : if, elif et else**

In [69]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

**REMARQUE**
Avec if et elif, d√®s qu‚Äôon rencontre une condition qui est r√©alis√©e, on n‚Äôen cherche pas d‚Äôautres potentiellement v√©rifi√©es. Plusieurs if √† la suite peuvent quant √† eux √™tre v√©rifi√©s.

### Boucles

Il existe deux types de boucles : les boucles for et les boucles while

La boucle for parcourt un ensemble, tandis que la boucle while continue tant qu‚Äôune condition est vraie.

## Boucle for

In [70]:
seq = [1,2,3,4,5]

In [71]:
for num in seq:
    print(num)

1
2
3
4
5

## Boucle While

In [72]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

### **Attention aux boucles infinies !!!**

### Fonctions

Les fonctions permettent de faire la m√™me chose sans avoir √† recopier le code plusieurs fois dans le m√™me programme. D√®s que vous le pouvez, faites des fonctions.

Elles peuvent prendre plusieurs param√®tres (ou aucun) elles peuvent retourner plusieurs r√©sultats (ou aucun)

On peut mettre de la documentation dans la fonction en mettant des guillements.

In [75]:
def ma_fonction_increment(parametre) :
    """Cette fonction ajoute 1 au param√®tre qu'on lui donne"""
    x = parametre + 1
    return x

In [76]:
ma_fonction_increment(5)

6

In [80]:
ma_fonction_increment(7)

8

In [81]:
ma_fonction_increment(111)

112

In [83]:
#pour voir la fonction shift tab √† la fin du nom de la fonction.
ma_fonction_increment(0.5)

1.5

Cela est valable √©galement pour les fonctions deja pr√©sentes dans python

In [84]:
range

range

### Fonctions utiles dans python pour la data

In [85]:
# range
for x in range(0,5):
    print(x)

0
1
2
3
4

In [86]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
# les listes compr√©hension

x = [1,2,3,4]
out = []

for num in x :
    out.append(num**2)

In [88]:
print(out)

[1, 4, 9, 16]

In [89]:
# on le met dans les crochets pour avoir direct une liste
out = [num**2 for num in x]

In [90]:
print(out)

[1, 4, 9, 16]

### la fonction map

In [91]:
# exemple
def times2(var):
    return var*2

In [93]:
times2(6)

12

Je peux utiliser la fonction map pour ce cas ci dessous:

In [94]:
seq = [1,2,3,4,5]

In [95]:
map(times2,seq)

il me montre o√π est stock√©e mon map

In [96]:
# je peux le mettre dans une liste
list(map(times2,seq))

[2, 4, 6, 8, 10]

## la fonction lambda

La fonction lambda est une petite fonction contenant qu‚Äôune seule expression. Elle peut agir sous anonymat parce qu‚Äôelle ne n√©cessite aucun nom. Elles sont tr√®s utiles lorsqu‚Äôil faut effectuer des petites t√¢ches avec moins de code. Ce qui est tr√®s pratique lorsqu‚Äôon √©labore des solutions Data.

Si je reprend ma fonction times2 et que je l'a met sur une seule ligne

In [97]:
def times2(var):return var*2

je supprime def et return et remplace par lambda et √©galement le nom de la fonction qui va s'appeler lambda

In [100]:
t = lambda var:var*2

In [101]:
t(7)

14

En g√©n√©ral on utilise la lambda fonction quand on veut utliser  une fonction qui prend comme argument une autre fonction. Par exemple les fonctions map(), filter() ‚Ä¶

In [102]:
# exemple
list(map(lambda num:num*3, seq))

[3, 6, 9, 12, 15]

Plus besoin de definir une fonction avant je met tout dans la fonction lambda

### la fonction filter

Exemple :

Je veux filtrer et ne garder que les nombres pairs dans ma liste seq

In [103]:
list(filter (lambda num : num%2 == 0, seq))

[2, 4]

### les methodes pour les chaines de caract√®res

In [104]:
s = "Coucou je m'appelle Fatima"

In [105]:
s.lower()

"coucou je m'appelle fatima"

In [106]:
s.upper()

"COUCOU JE M'APPELLE FATIMA"

In [107]:
s.split()

['Coucou', 'je', "m'appelle", 'Fatima']

In [108]:
tweet = "Manger 5 fruits et l√©gumes #sant√©"

In [109]:
tweet.split()

['Manger', '5', 'fruits', 'et', 'l√©gumes', '#sant√©']

In [110]:
tweet.split('#')

['Manger 5 fruits et l√©gumes ', 'sant√©']

In [111]:
tweet.split('#')[1]

'sant√©'

Peut √™tre hyper utile pour faire de l'analyse de texte .

### les methodes pour les dictionnaires

In [ ]:
dic = {'k1':1, 'k2':2}

In [ ]:
dic

In [ ]:
dic.items()

In [ ]:
dic.values()

### methodes sur les listes

In [ ]:
lst=[1,2,3]

list pop() est une fonction int√©gr√©e √† Python qui supprime et renvoie la derni√®re valeur de la liste ou la valeur d'index donn√©e. Param√®tre: index ( facultatif ) ‚Äì La valeur de l'index est extraite et supprim√©e. Si l'index n'est pas donn√©, le dernier √©l√©ment est extrait et supprim√©.

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
lst = [1,2,3,4,5]

In [ ]:
truc = lst.pop()

In [ ]:
truc

In [ ]:
lst

In [ ]:
first = lst.pop(0)

In [ ]:
first

In [ ]:
lst.append('new')

In [ ]:
lst

In [ ]:
#operateur in pour verifier qu'un element ce trouve sur la liste
'x'in [1,2,3]

In [ ]:
'x' in ['x','y','z']

In [ ]:
# recuperer des elements dans une liste de tuple

In [ ]:
x = [(1,2),(3,4),(5,6)]

In [ ]:
x[0]

In [ ]:
# si je veux recup√©rer le 2
x[0][1]

In [ ]:
# avec une fonction
for elt in x:
    print(elt)

In [ ]:
for a, b in x:
    print(b)

## Les Modules

Python est un language construit sur le principe de briques. Ces briques sont ce qu‚Äôon appelle des packages.il faut toujours pr√©ciser les packages que vous utilisez au d√©but du code, sinon Python ne reconnait pas les fonctions appel√©es.

**exemple**

In [ ]:
import numpy
print(numpy.arange(5))

## Import module as md - donner un nom au module

On peut aussi donner un pseudonyme au module pour √©viter de taper un nom trop long √† chaque fois qu‚Äôon utilise une fonction.

Classiquement le nom raccourci de numpy est np, celui de pandas est pd

In [ ]:
import pandas as pd
import numpy as np
small_array = np.array([[1, 2], [3, 4]])
data = pd.DataFrame(small_array)
data.head()